<div class="background-wrapper position-relative">
  <div class="position-absolute top-0 d-flex justify-content-end w-100">
    <div class="right-big-circle"></div>
  </div>
  <div
    class="position-absolute top-0 d-flex justify-content-center align-items-end w-100 vh-100"
  >
    <div class="circle-1"></div>
  </div>
  <div
    class="position-absolute top-0 d-flex justify-content-center align-items-start w-100 vh-100"
  >
    <div class="circle-2"></div>
  </div>
  <div
    class="position-absolute top-0 d-flex justify-content-center align-items-start w-100 vh-100"
  >
    <div class="circle-3"></div>
  </div>
  <div class="login-content-wrapper position-absolute top-0 w-100 vh-100">
    <div class="project-logo-wrapper mb-4">
      <img class="project-logo" src="assets/images/roomieLogo2.png" />
    </div>
    <div class="row m-0 p-0 d-flex flex-column-reverse flex-lg-row">
      <ng-content></ng-content>
      <div
        class="col-12 col-lg-7 m-0 p-0 mt-3 mt-md-0 
        d-flex align-items-xl-center justify-content-center justify-content-xl-center align-items-center"
      >
        <img
          class="login-register-flat-design ms-0 ms-lg-5"
          src="assets/images/login-register-flat-design.png"
        />
      </div>
    </div>
  </div>
</div>
