/*@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';*/
.swiper {
    width: 100%;
    height: 25%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }