<div class="card" role="button">
<div class="position-absolute w-100 py-2 d-flex justify-content-end align-items-center p-4"><i id="elementID" class="far fa-bookmark me-1 mt-2"></i></div>
  <img
    src="https://images.unsplash.com/photo-1563805042-7684c019e1cb"
    class="card__image"
    alt=""
  />
  <div class="card__overlay">
    <div class="card__header">
      <div class="d-flex justify-content-end">
        <div class="card-money-content p-1 px-3 fw-bold">1250 t</div>
      </div>
      <div class="d-flex align-items-center mb-3">
        <img
          class="card__thumb ms-4"
          src="https://i.imgur.com/7D7I6dI.png"
          alt=""
        />
        <div class="ms-2 d-flex flex-column justify-content-center">
          <h3 class="card__title">Jessica Parker</h3>
          <span class="card__status">1 hour ago</span>
        </div>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <div class="line d-flex justify-content-end align-items-center">
            <div class="dot"></div>
        </div>
        <div class="city-district-content-1 mx-1">city</div>
        <div class="city-district-content-2 py-1 ps-3 pe-3">Eskisehir</div>
      </div>
      <div class="d-flex justify-content-end align-items-center pt-2 pb-3">
        <div class="line d-flex justify-content-end align-items-center">
            <div class="dot"></div>
        </div>
        <div class="city-district-content-1 mx-1">district</div>
        <div class="city-district-content-2 py-1 ps-3 pe-5">Tepebasi</div>
      </div>
    </div>

    <div class="card__description p-1 px-4 pb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
      blanditiis 
    </div>
  </div>
</div>
