@import "../../../styles.scss";

.card {
  height: 100%;
  position: relative;
  display: block;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 10px, rgba(0, 0, 0, 0.12) 0px 3px 3px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px, rgba(0, 0, 0, 0.2) 0px 7px 7px;
}

.card__image {
  aspect-ratio: 1/1.4;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 40px;
  background-color: $grey;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  border-radius: 40px 0 0 0;
  background-color: $grey;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card-money-content {
  background-color: $pink;
  color: $white;
  border-radius: 0px 0px 0px 12px;
  font-size: 0.9rem;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  /*border-width: 3px;
    border-style: solid;      
    border-color: $pink;*/
}

.card__title {
  font-size: 0.8rem;
  margin: 0 0 0.3em;
  color: $black;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.7rem;
  color: $pink;
}

.card__description {
  color: $black;
  opacity: 0.7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 0.8rem;
}

.card-description-line {
  width: 5px;
  height: 65px;
  background-color: $pink;
}

.city-district-content-1 {
  color: $orange;
  font-size: 0.7rem;
  font-weight: bold;
  white-space: nowrap;
}

.city-district-content-2 {
  font-size: 0.7rem;
  border-radius: 20px 0px 0px 20px;
  background-color: $orange;
  color: $white;
}

.line {
  width: 100%;
  height: 0.8px;
  background-color: $pink;
  opacity: 0.6;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $grey;
  border-color: $pink;
  border-width: 1px;
  border-style: solid;
}

#elementID {
  color: $pink;
  font-size: 1.2em;
}

#edit {
  color: $pink;
  font-size: 1.2em;
}

#bin {
  color: $pink;
  font-size: 1.2em;
}

.show-content-user-img {
  width: 45px;
}

.card-bottom-line {
  background-color: $black;
  width: 100%;
  height: 1px;
  opacity: 0.5;
}

@media screen and (min-width: 990px) and (max-width: 1224px) {
  .card__image {
    aspect-ratio: 1/1.6;
  }
}

.slider-wrapper {
  width: 100%;
  height: fit-content;
  background-color: $orange;
}

/* dd content */
.dropdown .dropdown-content {
  position: absolute;
  top: 50%;
  background-color: $grey;
  min-width: 120%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  border-radius: 18px;
  right: 0;
}

/* show dd content */
.dropdown:focus .dropdown-content {
  outline: none;
  transform: translateY(20px);
  visibility: visible;
  opacity: 1;
}

/* mask to close menu by clicking on the button */
.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.dropdown:focus .db2 {
  display: inline-block;
}
.dropdown .db2:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}
