@import "../../../styles.scss";
.popup-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: max-content;
  background-color: rgba(217, 217, 217, 0.42);
  overflow-y: auto;
  backdrop-filter: blur(3px);
}

.popup-close-btn {
  width: 25px;
}

.popup-content-wrapper {
  background-color: $grey;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px 0px;
}