<div class="profile-edit-wrapper">
  <div class="row py-1">
    <div
      class="col-12 col-sm-4 col-md-6 d-flex flex-column align-items-center justify-content-center m-0 p-0"
    >
      <img class="profile-edit-img" src="assets/images/devImage-F.png" />
      <div class="fw-bold mt-3 fs-5">Name Surname</div>
    </div>
    <div class="col-12 col-sm-8 col-md-6  m-0 p-0">
      <div class="profile-edit-right-section pb-5">
        <div class="mx-sm-4">
          <app-custom-input [input_style]="inputInfo1"></app-custom-input>
        </div>
        <div class="mx-sm-4">
          <app-custom-input [input_style]="inputInfo2"></app-custom-input>
        </div>
        <div class="mx-sm-4">
          <app-custom-input [input_style]="inputInfo3"></app-custom-input>
        </div>
        <div class="mx-sm-4">
          <app-custom-input [input_style]="inputInfo4"></app-custom-input>
        </div>
        <div class="mx-sm-4">
          <app-custom-input [input_style]="inputInfo5"></app-custom-input>
        </div>
        <div class="mx-sm-4">
          <app-custom-input [input_style]="inputInfo6"></app-custom-input>
        </div>
        <div class="mx-sm-4">
          <app-custom-input [input_style]="inputInfo7"></app-custom-input>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center mt-4">
    <button class="btn profile-edit-button px-5 py-1">Confirm</button>
  </div>
</div>
