<div class="d-flex justify-content-end align-items-center fw-bold opacity-75">
    <i class="fa-solid fa-arrow-down-short-wide me-2"></i>SORT
  </div>
<div>
    <hr>
</div>
<div class="sorting-type">Date</div>

<div class="w-100 position-relative">
    <div class="position-absolute sorting-values" style="left: 0;">Nearest</div>
    <div class="position-absolute w-100 d-flex justify-content-center">
        <label class="switch">
            <input type="checkbox" />
            <div>
              <span></span>
            </div>
          </label>
    </div>
    
    <div class="position-absolute sorting-values" style="right: 0;">Furthest</div>
</div>


<div class="sorting-type mt-5">Price</div>

<div class="w-100 position-relative">
    <div class="position-absolute sorting-values" style="left: 0;">Lowest</div>
    <div class="position-absolute w-100 d-flex justify-content-center">
        <label class="switch">
            <input type="checkbox" />
            <div>
              <span></span>
            </div>
          </label>
    </div>
    
    <div class="position-absolute sorting-values" style="right: 0;">Highest</div>
</div>






