<div style="font-size: .8rem;" class="d-flex justify-content-end align-items-center fw-bold opacity-75">
    <i class="fa-solid fa-arrow-down-short-wide me-2"></i>SORT
  </div>
<div class="mt-1">
    <hr class="m-0 p-0">
</div>
<div class="sorting-type mt-3">Date</div>

<div class="w-100 position-relative d-flex align-items-center" style="height: 42px;">
    <div class="position-absolute sorting-values" style="left: 0;">Nearest</div>
    <div class="position-absolute w-100 d-flex justify-content-center">
        <label class="switch">
            <input type="checkbox" />
            <div>
              <span></span>
            </div>
          </label>
    </div>
    
    <div class="position-absolute sorting-values" style="right: 0;">Furthest</div>
</div>


<div class="sorting-type mt-3">Price</div>

<div class="w-100 position-relative d-flex align-items-center" style="height: 42px;">
    <div class="position-absolute sorting-values" style="left: 0;">Lowest</div>
    <div class="position-absolute w-100 d-flex justify-content-center">
        <label class="switch">
            <input type="checkbox" />
            <div>
              <span></span>
            </div>
          </label>
    </div>
    
    <div class="position-absolute sorting-values" style="right: 0;">Highest</div>
</div>






