@import "../../../styles.scss";

.login-button {
  background-color: $white;
  color: $pink;
  border-radius: 18px;
  font-size: 1.2rem;
}

.login-button:hover{
  background-color: rgb(201, 206, 206);
}

.login-bottom-text {
  color: $white;
  text-decoration: underline;
  font-weight: normal;
  font-size: .8rem;
}
