<app-login-register-background>
  <div class="col-12 col-lg-5">
    <div class="mx-4 mx-sm-5 pt-3 pt-md-5">
      <app-custom-input [input_style]="inputInfo1"></app-custom-input>
    </div>
    <div class="mx-4 mx-sm-5">
      <app-custom-input [input_style]="inputInfo2"></app-custom-input>
    </div>
    <div
      class="mx-4 mx-sm-5 mt-5 d-flex justify-content-center justify-content-lg-start"
    >
      <button class="btn login-button fw-bold px-5 py-1" routerLink="/home">LOGIN</button>
    </div>
    <div routerLink="/register"
      class="login-bottom-text ms-0 ms-lg-5 mt-3 mb-5 mb-sm-0 mt-md-5 d-flex justify-content-center justify-content-lg-start"
    >
      No account? create a new account!
    </div>
  </div>
</app-login-register-background>
