<div class="position-relative">
    <div class="position-absolute top-0 w-100 ">
      <div style="z-index: 3;position: relative;" class="d-none"><app-navbar></app-navbar> </div>
     
      <!--<form >
        <!--<app-adverts></app-adverts>
        <app-custom-input [input_style] = "inputInfo3"></app-custom-input>
        <app-custom-input [input_style] = "inputInfo4"></app-custom-input>
        
      </form>-->
     <app-register></app-register>
      
    </div>
    <div class="app-popup position-absolute top-0 user-select-none ">
      <app-popup></app-popup>
    </div>
  </div>