<div class="position-relative">
  <div class="position-absolute top-0 w-100">
    <div style="z-index: 3; position: relative;" >
      <app-navbar></app-navbar>
      <div class="position-absolute w-100 mt-4"><app-deneme></app-deneme></div>
      
    </div>
    
    <!--<form >
        <!--<app-adverts></app-adverts>
        <app-custom-input [input_style] = "inputInfo3"></app-custom-input>
        <app-custom-input [input_style] = "inputInfo4"></app-custom-input>
        
      </form>-->
    <!--<app-sorting-section></app-sorting-section>-->
    <!--<app-photo-slider></app-photo-slider>-->
    <router-outlet></router-outlet>
  </div>
  <div class="app-popup position-absolute top-0 user-select-none">
    <app-popup></app-popup>
  </div>
</div>

