<div style="font-size: .8rem;" class="d-flex justify-content-end align-items-center mx-3 fw-bold opacity-75">
  <i class="fa-solid fa-binoculars me-2"></i>LAST VIEWED
</div>
<div class="mx-3"><hr /></div>
<div class="last-viewed-photos">
  <div class="d-flex justify-content-between mx-3">
    <div class="">
      <img
        class="w-100"
        src="assets/images/hemo32.jpg"
        style="
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 14px,
            rgba(0, 0, 0, 0.2) 0px 6px 6px;
        "
        role="button"
      />
    </div>
    <div class="ms-3">
      <img
        class="w-100"
        src="assets/images/hemo32.jpg"
        style="
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 14px,
            rgba(0, 0, 0, 0.2) 0px 6px 6px;
        "
        role="button"
      />
    </div>
  </div>
  <div class="d-flex justify-content-between mx-3 my-3">
    <div class="">
      <img
        class="w-100"
        src="assets/images/hemo32.jpg"
        style="
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 14px,
            rgba(0, 0, 0, 0.2) 0px 6px 6px;
        "
        role="button"
      />
    </div>
    <div class="ms-3">
      <img
        class="w-100"
        src="assets/images/hemo32.jpg"
        style="
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 14px,
            rgba(0, 0, 0, 0.2) 0px 6px 6px;
        "
        role="button"
      />
    </div>
  </div>
  <div class="d-flex justify-content-between mx-3">
    <div class="">
      <img
        class="w-100"
        src="assets/images/hemo32.jpg"
        style="
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 14px,
            rgba(0, 0, 0, 0.2) 0px 6px 6px;
        "
        role="button"
      />
    </div>
    <div class="ms-3">
      <img
        class="w-100"
        src="assets/images/hemo32.jpg"
        style="
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 14px,
            rgba(0, 0, 0, 0.2) 0px 6px 6px;
        "
        role="button"
      />
    </div>
  </div>
</div>
<div class="mx-3"><hr /></div>
<div class="adverts-help-center mx-3 my-4" role="button">
  <div class="adverts-help-center-question">
    <span class="adverts-help-center-question-bg px-5 py-1">?</span>
  </div>
  <div
    class="adverts-help-center-header d-flex justify-content-center align-items-center mx-2 mx-xl-3 my-3"
  >
    Help Center
  </div>
  <div
    class="adverts-help-center-description fw-light text-center mx-2 mx-xl-3 mb-4"
  >
    lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
  </div>
</div>
