@import "../../../styles.scss";

.register-button {
  background-color: $white;
  color: $pink;
  border-radius: 18px;
  font-size: 1.2rem;
}

.register-back-button:hover {
  background-color: rgb(201, 206, 206);
}

.register-button:hover {
  background-color: rgb(201, 206, 206);
}

.register-bottom-text {
  color: $white;
  text-decoration: underline;
  font-weight: normal;
  font-size: .8rem;
}

.register-left-section {
  height: 45vh;
  overflow-y: auto;
  background-color: #ffffff11;
}

.register-left-section::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background-color: $grey;
}

/* Handle */
.register-left-section::-webkit-scrollbar-thumb {
  background: $pink;
  border-radius: 20px;
}

/* Handle on hover */
.register-left-section::-webkit-scrollbar-thumb:hover {
  background: $black;
}

.register-back-button {
  color: $pink;
  background-color: $white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.back-button-icon{
  font-size: 1.2rem;
}

.option {
  background-color: $grey;
}
