<app-login-register-background>
  <div class="col-12 col-lg-5">
    <div class="register-left-section pb-5 mt-4 mt-lg-0 ms-0 ms-lg-5">
      <div class="mx-4 mx-sm-5">
        <app-custom-input [input_style]="inputInfo1"></app-custom-input>
      </div>
      <div class="mx-4 mx-sm-5">
        <app-custom-input [input_style]="inputInfo2"></app-custom-input>
      </div>
      <div class="mx-4 mx-sm-5">
        <app-custom-input [input_style]="inputInfo3"></app-custom-input>
      </div>
      <div class="mx-4 mx-sm-5">
        <app-custom-input [input_style]="inputInfo4"></app-custom-input>
      </div>
      <div class="mx-4 mx-sm-5">
        <app-custom-input [input_style]="inputInfo5"></app-custom-input>
      </div>
      <div class="mx-4 mx-sm-5">
        <app-custom-input [input_style]="inputInfo6"></app-custom-input>
      </div>
      <div class="mx-4 mx-sm-5">
        <app-custom-input [input_style]="inputInfo7"></app-custom-input>
      </div>
    </div>

    <div
      class="mx-4 mx-sm-5 mt-5 mb-5 mb-lg-0 d-flex justify-content-center justify-content-lg-start"
    >
      <button class="btn register-back-button d-flex justify-content-center align-items-center">
        <
      </button>
      <button class="btn register-button fw-bold px-5 py-1 ms-4">REGISTER</button>
    </div>
  </div>
</app-login-register-background>
