<div style="font-size: .8rem;"
  class="d-flex justify-content-end align-items-center fw-bold opacity-75"
>
  <i class="fa-solid fa-filter me-2"></i>FILTER
</div>

<div class="mt-1">
  <hr class="m-0 p-0">
</div>
<div class="filter-section-wrapper mt-3">
    <div class="mx-3" >
        <app-custom-input [input_style]="inputInfo1"></app-custom-input>
      </div>
      <div class="mx-3">
        <app-custom-input [input_style]="inputInfo2"></app-custom-input>
      </div>
      <div class="mx-3">
        <app-custom-input [input_style]="inputInfo3"></app-custom-input>
      </div>
      <div class="mx-3">
        <app-custom-input [input_style]="inputInfo4"></app-custom-input>
      </div>
      <div class="mx-3 mb-5">
        <app-custom-input [input_style]="inputInfo5"></app-custom-input>
      </div>
</div>


<div class="mt-4"><button class="btn filter-button">Search</button></div>

