<div class="row m-0 p-0">
  <div
    class="col-12 col-md-6 m-0 p-0 d-flex justify-content-center align-items-center show-content show-content-bg position-relative"
  >
    <img class="advert-photo" src="assets/images/hemo32.jpg" />
    <div class="position-absolute top-0 align-self-end me-3 mt-3 mb-3 w-100 d-flex justify-content-end d-md-none">
      <img
        role="button"
        (click)="changePopupStatus()"
        class="popup-close-btn"
        src="assets/images/close.png"
      />
    </div>
  </div>
  <div
    class="col-12 col-md-6 m-0 p-0 show-content show-content-bg-2 pe-2 pe-md-0 pb-5 pb-md-0"
  >
    <div class="d-flex justify-content-start align-items-center ms-3 mt-3">
      <img class="show-content-user-img" src="assets/images/devImage-F.png" />
      <div
        class="d-flex flex-column justify-content-center align-items-start ms-3"
      >
        <div class="fw-bold" style="font-size: 0.9rem">Name Surname</div>
        <div style="font-size: 0.7rem">1 hour</div>
      </div>
    </div>
    <hr class="mx-4" />
    <div class="fw-bold ms-4 mt-3" style="font-size: 0.9rem">Header</div>
    <div class="show-content-description mx-4 my-3">
      lorem ipsum dolor sit amet, consetetur sadipscing elitr, onumy eirmod
      tempor invidunt ut labore et dolore magn , consetetur sadipscing elitr,
      onumy eirmod tempor invidunt ut labore et dolore magn, consetetur
      sadipscing elitr, onumy eirmod tempor invidunt ut labore et dolore magn,
    </div>
    <div class="fw-bold ms-4" style="font-size: 0.9rem">Location</div>
    <div class="me-4 mt-3 d-flex align-items-center justify-content-between">
      <div class="me-4 d-flex align-items-center">
        <div class="line d-flex justify-content-end align-items-center">
          <div class="dot"></div>
        </div>
        <div class="show-content-attribute-1 ms-2">city</div>
      </div>
      <div class="show-content-attribute-2 px-3">Eskisehir</div>
    </div>

    <div class="me-4 mt-2 d-flex align-items-center justify-content-between">
      <div class="me-4 d-flex align-items-center">
        <div class="line d-flex justify-content-end align-items-center">
          <div class="dot"></div>
        </div>
        <div class="show-content-attribute-1 ms-2">district</div>
      </div>
      <div class="show-content-attribute-2 px-3">Tepebasi</div>
    </div>

    <div
      class="me-4 mt-2 mb-3 d-flex align-items-center justify-content-between"
    >
      <div class="me-4 d-flex align-items-center">
        <div class="line d-flex justify-content-end align-items-center">
          <div class="dot"></div>
        </div>
        <div class="show-content-attribute-1 ms-2">neighbourhood</div>
      </div>
      <div class="show-content-attribute-2 px-3">Tepebasi</div>
    </div>

    <div class="fw-bold ms-4" style="font-size: 0.9rem">Home Information</div>

    <div class="me-4 mt-3 d-flex align-items-center justify-content-between">
      <div class="me-4 d-flex align-items-center">
        <div class="line d-flex justify-content-end align-items-center">
          <div class="dot"></div>
        </div>
        <div class="show-content-attribute-1 ms-2">floor area(m2)</div>
      </div>
      <div class="show-content-attribute-2 px-3">Tepebasi</div>
    </div>

    <div class="me-4 mt-2 d-flex align-items-center justify-content-between">
      <div class="me-4 d-flex align-items-center">
        <div class="line d-flex justify-content-end align-items-center">
          <div class="dot"></div>
        </div>
        <div class="show-content-attribute-1 ms-2">rooms</div>
      </div>
      <div class="show-content-attribute-2 px-3">Tepebasi</div>
    </div>

    <div
      class="me-4 mt-5 mb-3 d-flex align-items-center justify-content-between"
    >
      <div class="me-4 d-flex align-items-center">
        <div class="line d-flex justify-content-end align-items-center">
          <div class="dot"></div>
        </div>
        <div class="show-content-attribute-1-price ms-2">price</div>
      </div>
      <div class="show-content-attribute-2-price px-4 py-1 fs-5">1250 t</div>
    </div>
  </div>
</div>
