<div class="adverts-help-center mx-3 my-4" role="button">
    <div class="adverts-help-center-question">
      <span class="adverts-help-center-question-bg px-5 py-1">?</span>
    </div>
    <div
      class="adverts-help-center-header d-flex justify-content-center align-items-center mx-2 mx-xl-3 my-3"
    >
      Help Center
    </div>
    <div
      class="adverts-help-center-description fw-light text-center mx-2 mx-xl-3 mb-4"
    >
      lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    </div>
  </div>