/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E0E0E0;
  user-select: none;
  overflow-x: hidden;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.navigation__button--right {
  background-color: #E0E0E0 !important;
}

.navigation__button:disabled {
  visibility: hidden !important;
}

.navigation__button--left {
  background-color: #E0E0E0 !important;
}

.pagination__dot {
  box-shadow: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #f14d6b !important;
  width: 15px !important;
  height: 15px !important;
  background-color: transparent !important;
}

.pagination__dot--active {
  background-color: #f14d6b !important;
}

.image {
  background-color: transparent !important;
}

.adverts-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 45px;
  overflow: hidden;
  overflow-y: auto;
}

.dropdown {
  display: inline-block;
  position: relative;
  outline: none;
  user-select: none;
}

/* button */
.dropbtn {
  width: 45px;
  height: 45px;
  padding: 12px 16px;
  border-radius: 100%;
  color: #0C0C0F;
  background-color: #E0E0E0;
  cursor: pointer;
  border-width: 1px;
  border-color: #0C0C0F;
  border-style: solid;
}

/* dd content */
.dropdown .dropdown-content {
  position: absolute;
  top: 50%;
  background-color: #E0E0E0;
  min-width: 120%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  border-radius: 18px;
}

/* show dd content */
.dropdown:focus .dropdown-content {
  outline: none;
  transform: translateY(20px);
  visibility: visible;
  opacity: 1;
}

.dropdown:focus .dropbtn {
  background-color: #a1a1a1;
}

/* mask to close menu by clicking on the button */
.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.dropdown:focus .db2 {
  display: inline-block;
}

.dropdown .db2:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}

.each-card {
  width: 85%;
}

@media screen and (max-width: 890px) {
  .each-card {
    width: 95%;
  }
}

@media screen and (min-width: 990px) and (max-width: 1224px) {
  .each-card {
    width: 95%;
  }
}

@media screen and (max-width: 1216px) {
  .right-section {
    display: none;
  }
  .right-section-mid-size {
    display: block;
  }
  .left-section-filter {
    display: block;
  }
}

@media screen and (min-width: 1216px) {
  .left-section-filter {
    display: none;
  }
}

.adverts-animation {
  opacity: 0;
  margin-top: 45px;
  animation-name: adverts-anim;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes adverts-anim {
  0% {
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
