/* You can add global styles to this file, and also import other style files */
/*@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';*/
body {
  background-color: #E0E0E0;
  user-select: none;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.card {
  height: 100%;
  position: relative;
  display: block;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 10px, rgba(0, 0, 0, 0.12) 0px 3px 3px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px, rgba(0, 0, 0, 0.2) 0px 7px 7px;
}

.card__image {
  aspect-ratio: 1/1.4;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 40px;
  background-color: #E0E0E0;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  border-radius: 40px 0 0 0;
  background-color: #E0E0E0;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card-money-content {
  background-color: #f14d6b;
  color: #FFFFFF;
  border-radius: 0px 0px 0px 12px;
  font-size: .9rem;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  /*border-width: 3px;
    border-style: solid;      
    border-color: $pink;*/
}

.card__title {
  font-size: .8rem;
  margin: 0 0 .3em;
  color: #0C0C0F;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .7rem;
  color: #f14d6b;
}

.card__description {
  color: #0C0C0F;
  opacity: .7;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: .8rem;
}

.card-description-line {
  width: 5px;
  height: 65px;
  background-color: #f14d6b;
}

.city-district-content-1 {
  color: #FD7B5A;
  font-size: .7rem;
  font-weight: bold;
  white-space: nowrap;
}

.city-district-content-2 {
  font-size: .7rem;
  border-radius: 20px 0px 0px 20px;
  background-color: #FD7B5A;
  color: #FFFFFF;
}

.line {
  width: 100%;
  height: .8px;
  background-color: #f14d6b;
  opacity: .6;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #E0E0E0;
  border-color: #f14d6b;
  border-width: 1px;
  border-style: solid;
}

#elementID {
  color: #f14d6b;
  font-size: 1.5em;
}

.show-content-user-img {
  width: 45px;
}

.card-bottom-line {
  background-color: #0C0C0F;
  width: 100%;
  height: 1px;
  opacity: .5;
}

@media screen and (min-width: 990px) and (max-width: 1224px) {
  .card__image {
    aspect-ratio: 1/1.6;
  }
}
