/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E0E0E0;
  user-select: none;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.app-popup {
  z-index: 3;
}
