/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E0E0E0;
  user-select: none;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.message-style {
  color: #cf2f2f;
  background-color: #FFFFFF;
  font-weight: bold;
  border-radius: 12px;
  border-color: #cf2f2f;
  border-style: solid;
  border-width: 2px;
}
