/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E0E0E0;
  user-select: none;
  overflow-x: hidden;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.navigation__button--right {
  background-color: #E0E0E0 !important;
}

.navigation__button:disabled {
  visibility: hidden !important;
}

.navigation__button--left {
  background-color: #E0E0E0 !important;
}

.pagination__dot {
  box-shadow: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #f14d6b !important;
  width: 15px !important;
  height: 15px !important;
  background-color: transparent !important;
}

.pagination__dot--active {
  background-color: #f14d6b !important;
}

.image {
  background-color: transparent !important;
}

.adverts-help-center {
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 30px;
  overflow: hidden;
  background-color: #FD7B5A;
  border-style: solid;
  border-color: #FD7B5A;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 14px, rgba(0, 0, 0, 0.15) 0px 10px 10px;
}

.adverts-help-center-question {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.4rem;
  background-color: #FD7B5A;
}

.adverts-help-center-question-bg {
  background-color: #FFFFFF;
  color: #FD7B5A;
  font-size: 1.6rem;
  font-weight: bolder;
  border-radius: 0px 18px 18px 0px;
}

.adverts-help-center-header {
  font-weight: bold;
  color: #FFFFFF;
}

.adverts-help-center-description {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 0.8rem;
}

@media screen and (max-width: 1211px) {
  .adverts-help-center-header {
    font-size: 0.7rem;
  }
  .adverts-help-center-description {
    font-size: 0.6rem;
  }
}
