/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E0E0E0;
  user-select: none;
  overflow-x: hidden;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.navigation__button--right {
  background-color: #E0E0E0 !important;
}

.navigation__button:disabled {
  visibility: hidden !important;
}

.navigation__button--left {
  background-color: #E0E0E0 !important;
}

.pagination__dot {
  box-shadow: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #f14d6b !important;
  width: 15px !important;
  height: 15px !important;
  background-color: transparent !important;
}

.pagination__dot--active {
  background-color: #f14d6b !important;
}

.image {
  background-color: transparent !important;
}

.input-border-black {
  border-radius: 10px;
  border-color: #0C0C0F;
  border-style: solid;
  border-width: 2px;
  height: 45px;
}

.input-border-white {
  border-radius: 10px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  height: 45px;
}

.input-header-orange {
  margin-top: -10px;
  background-color: #FD7B5A;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 18px;
}

.input-header-white {
  margin-top: -10px;
  background-color: #FFFFFF;
  color: #FD7B5A;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 18px;
}
