/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E0E0E0;
  user-select: none;
  overflow-x: hidden;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.login-button {
  background-color: #FFFFFF;
  color: #f14d6b;
  border-radius: 18px;
  font-size: 1.2rem;
}

.login-bottom-text {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: lighter;
}
