/* You can add global styles to this file, and also import other style files */
/*@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';*/
body {
  background-color: #E0E0E0;
  user-select: none;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.not-found-logo-img {
  width: 255px;
  margin-top: 10%;
}

@media screen and (max-width: 576px) {
  .not-found-logo-img {
    width: 160px;
    margin-top: 20%;
  }
}

.not-found-button {
  border-color: #0C0C0F;
  color: #0C0C0F;
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
}
