/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E0E0E0;
  user-select: none;
  overflow-x: hidden;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.navigation__button--right {
  background-color: #E0E0E0 !important;
}

.navigation__button:disabled {
  visibility: hidden !important;
}

.navigation__button--left {
  background-color: #E0E0E0 !important;
}

.pagination__dot {
  box-shadow: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #f14d6b !important;
  width: 15px !important;
  height: 15px !important;
  background-color: transparent !important;
}

.pagination__dot--active {
  background-color: #f14d6b !important;
}

.image {
  background-color: transparent !important;
}

.toast-wrapper {
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-wrapper.active {
  transform: translateX(0%);
  margin-right: 45px;
}

.toast-wrapper .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #28d754;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast-wrapper .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast-wrapper .close:hover {
  opacity: 1;
}

.toast-wrapper .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.toast-wrapper .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #28d754;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
