/* You can add global styles to this file, and also import other style files */

// colors
$grey: #E0E0E0;
$white: #FFFFFF;
$pink: #f14d6b;
$orange: #FD7B5A;
$black: #0C0C0F;

  body {

    background-color: $grey;
  }

  :root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  