/* You can add global styles to this file, and also import other style files */
// colors
$grey: #E0E0E0;
$white: #FFFFFF;
$pink: #f14d6b;
$orange: #FD7B5A;
$black: #0C0C0F;
$green: #28d754;

  body {

    background-color: $grey;
    user-select: none;
    overflow-x: hidden;
  }

  :root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
 
  .navigation__button--right{
    background-color: $grey !important;
  }

.navigation__button:disabled{
    visibility: hidden !important;
  }

  .navigation__button--left{
    background-color: $grey !important;
  }

  .pagination__dot{
    box-shadow: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: $pink !important;
    width: 15px !important;
    height: 15px !important;
    background-color: transparent !important;
  }

  .pagination__dot--active{
   background-color: $pink !important;
  }

  .image{
    background-color: transparent !important;
    
  }